.fa-facebook-square:hover {
color:#3B5998;
}

.fa {
text-decoration: none;
}

.fa:hover {
text-decoration: none;
}

.fa-twitter:hover {
color: #c8201d;
}

.fa-instagram:hover {
  color: #c8201d;
}

.fa-instagram {
  font-size: 250%;
  color: gray;
}

.fa-twitter {
font-size: 250%;
color: gray;
}