{% extends 'base.html.twig' %}

{% block body %}
<div class="titulo mt-1 mb-5 d-flex justify-content-center flex-column align-content-center flex-wrap">
	<div class="mt-2 d-flex justify-content-center align-items-center flex-column">
		<h2>Víctimas mortales según la c. autónoma</h2>
	</div>
	<ul id="nav">
		<li><a class="btn btn-danger" href="#">2017</a>
			<section>
				<p>En 2017, la comunidad autónoma con más fallecidos ha sido Andalucía, con un total de 305 personas.</p>
				<p>La segunda comunidad autónoma con más muertes es Cataluña, con un total de 283.</p>
				<p>El total de fallecidos en 2017 fueron de 1830 personas.</p>
				<img width="750" src="http://192.168.2.2:5000/c_total_2017.png">
			</section>
		</li>
		<li><a class="btn btn-danger" href="#">2016</a>
			<section>
				<p>En 2016, la comunidad autónoma con más fallecidos ha sido Andalucía, con un total de 303 personas.</p>
				<p>La segunda provincia con más muertes es Cataluña, con un total de 282.</p>
				<p>El total de fallecidos en 2016 fueron de 1810 personas.</p>
				<img width="750" src="http://192.168.2.2:5000/c_total_2016.png">
			</section>
		</li>
		<li><a class="btn btn-danger" href="#">2015</a>
			<section>
				<p>En 2016, la comunidad autónoma con más fallecidos ha sido Cataluña, con un total de 291 personas.</p>
				<p>La segunda comunidad autónoma con más muertes es Andalucía, con un total de 262.</p>
				<p>El total de fallecidos en 2016 fueron de 1689 personas.</p>
				<img width="750" src="http://192.168.2.2:5000/c_total_2015.png"> 
			</section>
		</li>
	</ul>
</div>
{% endblock %}
